:root{
    --main-font: 'Exo', sans-serif;
    --second-font: 'Nunito', sans-serif;

    --dark-bg: #121213;
    --light-bg: #F2F2F2;
    --red: #D40D12;
    --grey: #BBA8A8;
    --dark-grey: #554F4F;

}

*, :before, :after{
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
}

ul{
    list-style: none;
    padding: 0;
}
a{
    text-decoration: none;
    font: inherit
}
html,body{
    min-height: 100%;
}
button{
    border: none;
    background-color: transparent;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    font-family: var(--main-font);
}

.light-text{
    color: var(--light-bg);
}
.dark-bg{
    background-color: var(--dark-bg);
}
.dark-text{
    color: var(--dark-bg);
}
.light-bg{
    background: var(--light-bg);
}

.hide{
    display: none;
}
.show{
    display: block;
}
.theme-btn{
    transition: .5s ease-in;
    border-radius: 50%;
}
.theme-active{
    background-color: var(--red);
}

.shape{
    background-color: var(--red);
    filter: blur(180px);
    border-radius: 50%;
}

.shape__big{
    width: 400px;
    height: 400px;
}

.wrapper{
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1160px;
    margin: 0 auto;
    padding: 0 15px;
}
#main{
    height: 100vh;
    padding-top: 70px;
    overflow: hidden;
    position: relative;
}

#header{
    width: 100%;
    height: 80px;
    padding: 0 15px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.nav{
    height: 80px;
    max-width: 1160px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__inner,
.nav__items,
.nav__buttons,
.nav__theme{
    display: flex;
    align-items: center;
}

.nav__theme button{
    height: 30px;
    width: 30px;
    cursor:pointer;
}
.nav__link{
    transition: .4s;
}
.nav__link{
    color: inherit;
    font-family: var(--second-font);
    font-size: 16px;
}
.nav__link:hover{
    color: var(--red);
}

.nav__items{
    margin-right: 160px;
}
.nav__items li:not(:last-child){
    margin-right: 50px;
}
.nav__burger{
    cursor: pointer;
    display: none;
}
.nav__buttons{
    margin-right: 40px;
}
.nav__buttons >*:not(:last-child){
    margin-right: 24px;
}
.nav__theme >*:not(:last-child){
    margin-right: 15px;
}

.cart, .profile{
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 920px){
    #main{
        overflow: visible;
    }
    .nav__items{
        margin-right: 100px;
    }
    .nav__items li:not(:last-child){
        margin-right: 40px;
    }
}

@media screen and (max-width: 767px){
    .nav__items,
    .nav__buttons,
    .nav__items li:not(:last-child){
        margin:0;
    }
    .nav__burger{
        display: block;
    }
    .nav__inner{
        position: fixed;
        background-color:  rgba(43, 43, 44, 0.5);
        top: 0;
        right: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: blur(96px);
        padding: 6rem 2rem 3.5rem;
        transition: .3s;
    }
    .nav__items,
    .nav__inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        text-align: center;
        row-gap: 2rem;
    }

    .nav__buttons >*:not(:last-child){
        margin-right: 30px;
    }
    .nav__theme >*:not(:last-child){
        margin-right: 20px;
    }
    .nav__link{
        text-transform: uppercase;
        font-size: 28px;
    }
    .nav__close{
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
    }
}

.main__inner{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}
.main__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main__title{
    font-weight: 700;
    font-size: 90px;
    line-height: 1;
    margin-bottom: 20px;
}
.main__subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 130%;
    color: var(--grey);
    /* margin-bottom: 80px; */
}

.product__title{
    font-weight: 500;
    font-size: 22px;
    line-height: 125%;
    margin-bottom: 25px;
}

.product__features{
    display: grid;
    grid-template-columns: repeat(4, 112px);
    margin-bottom: 30px;
    margin-left: -20px;
}

.feature__icon{
    height: 50px;
    width: 50px;
    display: flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--red);
    margin-bottom: 20px;
}
.product__feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin: 0 10px; */
    padding: 5px;
}

.feature__desc{
    font-weight: 500;
    font-size: 14px;
    color: var(--grey);
    text-align: center;
    max-width: 80px;
}
.product__buy{
    display: flex;
}
.product__price{
    font-weight: 600;
    font-size: 40px;
    margin-right: 35px;
}

.product__purchase-button{
    width: 240px;
    height: 50px;
    background-color: var(--red);
    color: var(--light-bg);
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}
.product__purchase-button:hover{
    background-color: #eb2e34;
}

#main .shape__big{
    position: absolute;
    z-index: -1;
    bottom: -80px;
    right: 0px;
}

.main__banner{
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner__img{
    height: 500px;
    position: relative;
    left: -50px;
}
.banner__img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.view__model{
    display: flex;
    align-items: center;
    height: 56px;
    position: absolute;
    left: 50%;
    top: 50%;
}
.circles{
    position: relative;
}
.circle{
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.33);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.circle.outer{
    width: 56px;
    height: 56px;
    top: 0;
    left: 0;    
    z-index: 2;
}
.circle.inner{
    width: 30px;
    height: 30px;
    z-index: 3;
}
.dot{
    width: 6px;
    height: 6px;
    background-color: var(--red);
    border-radius: 50%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}

.line{
    height: 1px;
    width: 40px;
    background-color: var(--red);
    z-index: 4;
    margin: 0 5px 0 35px;
}

.text{
    font-weight: 500;
    font-size: 14px;
    color: var(--light-bg);
    font-family: inherit;
}


@media screen and (max-width: 1100px){
    .main__title{
        font-size: 80px;
    }
    .main__subtitle{
        font-size: 18px;
    }
    .product__title{
        font-size: 20px;
    }
}

@media screen and (max-width: 920px){
    .main__inner{
        flex-direction: column;
    }
    .main__subtitle{
        margin-bottom: 80px;
    }
    .main__content{
        margin-bottom: 40px;
    }
    #main .shape__big{
        bottom: -80%;
    }
    .banner__img{
        left: 0;
    }
    .view__model{
        left: 60%;
        top: 55%;
    }
}

@media screen and (max-width: 480px){
    .main__title{
        font-size: 60px;
    }
    .main__subtitle{
        font-size: 16px;
        margin-bottom: 50px;
    }
    .product__title{
        font-size: 18px;
    }
    .product__features{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 20px;
    }
    .product__buy{
        flex-direction: column;
    }
    .product__purchase-button{
        width: 100%;
    }
    .product__price{
        font-size: 35px;
        margin-bottom: 20px;
        margin-right: 0;
        text-align: center;
    }
    .main__banner{
        flex: 1 1 100%;
    }
    .banner__img{
        height: 450px;
    }
}

@media screen and (max-width: 375px){
    .banner__img{
        height: 400px;
    }
}